/* General */
body {
	background-color: #FFFFFF;
	/* Typography*/
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

a {
	text-decoration: underline;	
}

a:link, a:visited {
	color: #000000;
}

a:hover {
	color: #444444;	
}

a img {
	border: none;
}

/* Header */
#header {
	width: 864px; /* Less margin */
	margin-bottom: 15px;
	margin-left: 36px;
}

#header img.head {
	width: 864px;
}

ul#nav {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;	
	border-left: 0;
	border-right: 0;
	list-style-type: none;
	padding: 0;
}

ul#nav li {
	display: inline;
	text-transform: uppercase;
	line-height: 26px;
	margin: 0 30px 0 0;
	padding: 0;
}

ul#nav li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

ul#nav li.donate a {
	color: #FF0000;
}


/* Columns */
#site {
	width: 900px;
}

#main {
	width: 660px;
	margin-right: 240px;
}

#sidebar {
	width: 240px;
	float: right;
	padding-left: 15px;
	padding-top: 0;
	margin-top: 0;
}
/* Poster download list */
ul#posters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#posters li {
	margin: 0;
}

ul#posters img.thumbnail {
	width: 190px;
	height: 290px;
	border: 1px solid #000000;
	position: absolute;
	left: 0;
	top: 0;
}

ul#posters .download {
	position: relative;
}

ul#posters .info {
	position: absolute;
	top: 0;
	left: 204px;
	height: 290px;
}

ul#posters .info span.title {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	display: block;
}

ul#posters .info p {
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
	margin: 6px 0;
}

ul#posters .info span.reference {
	font-weight: bold;
	font-size: 14px;
	font-style: nornal;
}

/* Download icons */
ul#posters .info .icons {
	position: absolute;
	height: 85px;
	top: 205px;
}

ul#posters .info .icons a {
	margin: 0 15px 0 0;
}
 
ul#posters .info .icons img {
	width: 85px;
	height: 85px;
}
